<nav class="navbar fixed-top">
  <a class="nav-link active"><%= link_to "HOME", root_path %></a>
  <a class="nav-link"><%= link_to "Crear Empresa", new_company_path %></a>
  <a class="nav-link"><%= link_to "Crear Area", new_area_path %></a>
</nav>
